*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: crimson;
    color: white;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: crimson;
    color: white;
    
}

::-webkit-scrollbar-thumb {
    background: #23263A;
  }
h1{
    font-weight: 500;
}
li{
    list-style: none;
}
p{
    font-size: 16px;
    letter-spacing: 1px;
}
.sections{
    background-color: #23263A;
    padding: 20px;
}
.title{
    font-size: 20vh;
    font-weight: 900;
    -webkit-text-stroke: 2px crimson;
    color: transparent;
    margin-left: -50px;
}
.main-content {
    display: flex;
    width: 85%;
    margin: 20px auto;
}
@media only screen and (min-width: 268px) and (max-width: 767px){
    .main-content {
        display: flex;
        width: 90%;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .title {
        font-size: 10vh;
    }
}